<section class='container'>
  <div class='user_card'>
    <img src="<%= @user.photo %>" alt='User Avatar' />

    <div class='user_details'>
      <h1><%= @user.name %></h1>
      <p>Number of posts: <%= @user.posts_counter || 0 %></p>
    </div>
  </div>

  <div class='bio'>
    <h3>Bio:</3>
    <p><%= @user.bio %></p>
  </div>

  <div>
    <%= render 'helper/post_form' %>
  </div> 

  <% @user.three_recent_post(@user.id).each do |post| %>
    <div class='post_card'>
      <% @post = post%>
      <div class='like'><%= render 'helper/like_form' %></div>
      <h3><%= link_to post.title, user_post_path(@user.id,post.id) %></h3>
      <p><%= post.text %></P>
      <span>Comments: <%= post.comments_counter||0 %>, Likes: <%= post.likes_counter||0 %></span>
    </div>
  <%end%>
  <button type='button'><%= link_to "see all posts", user_posts_path(@user.id) %></button>
</section>