<section class='container'>
  <div class='new_post'>
    <button type='button'><%= link_to "create new post",  new_user_post_path(@user.id) %></button>
  </div>
  <div class='user_card'>
    <img src="<%= @user.photo %>" alt='User Avatar' />

    <div class='user_details'>
      <h1><%= @user.name %></h1>
      <p>Number of posts: <%= @user.posts_counter || 0 %></p>
    </div>
  </div>

  <% @user.three_recent_post(@user.id).each do |post| %>
    <div class='post_card'>
      <% @post = post%>
      <div class='like'><%= render 'helper/like_form' %></div>
      <a href="/users/<%= @user.id %>/posts/<%= post.id %>"><h3><%= post.title %></h3></a>
      <p><%= post.text %></P>
    </div>
    <%if Comment.all.where(post_id: post.id).length != 0 %>
      <div class='comment_card'>
        <% Comment.all.where(post_id: post.id).each do |comment| %>
          <% user = User.all.find(comment.author_id) %>
          <p><b><%= user.name %>: </b><%= comment.text %></p>
        <%end%>
      </div>
    <%end%>
  <%end%>

  <button type='button'>load more</button>
</section>
