<section class='container'>
  <div class='post_card'>
    <div class='like'><%= render 'helper/like_form' %></div>
    <div class='details'>
      <h3><%= @post.title %> <p>by <%= User.all.find(@post.author_id).name %></p></h3>
      <p>Comments: <%= @post.comments_counter||0 %>, Likes: <%= @post.likes_counter||0 %></p>
    </div>
    <p><%= @post.text %></P>
  </div>
  <div class='line'>
    <%= render 'helper/comment_form' %>
  </div>
  <%if Comment.all.where(post_id: @post.id).length != 0 %>
    <div class='comment_card'>
      <% Comment.all.where(post_id: @post.id).each do |comment| %>
        <% user = User.all.find(comment.author_id) %>
        <p><b><%= user.name %>: </b><%= comment.text %></p>
      <%end%>
    </div>
  <%end%>
</section>
