<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%
=begin%>
 <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
<%
=end%>

    <% flash.each do |name, msg| -%>
      <p class="notification"><%= msg %></p>
    <% end -%>

    <%= yield %>
  </body>
</html>
